<div class="bg-surface h-16 px-8 flex justify-between items-center w-full z-10">
    <div class="flex items-center gap-8">
        <h1 class="text-xl font-bold text-on-surface tracking-tight headline-font">Clinical Architect</h1>
        <div class="relative w-96 hidden lg:block">
            <span class="material-symbols-outlined absolute left-3 top-1/2 -translate-y-1/2 text-on-surface-variant text-sm">search</span>
            <input class="w-full bg-surface-container-low border-none rounded-xl pl-10 pr-4 py-2 text-sm focus:ring-2 focus:ring-primary/20 transition-all" placeholder="Search facilities or providers..." type="text">
        </div>
    </div>
    <div class="flex items-center gap-4">
        <div class="flex items-center gap-1">
            <button class="p-2 text-on-surface-variant hover:bg-surface-container-high rounded-full transition-all duration-200 scale-95 active:scale-100" type="button">
                <span class="material-symbols-outlined">notifications</span>
            </button>
            <button class="p-2 text-on-surface-variant hover:bg-surface-container-high rounded-full transition-all duration-200 scale-95 active:scale-100" type="button">
                <span class="material-symbols-outlined">help</span>
            </button>
            <button class="p-2 text-on-surface-variant hover:bg-surface-container-high rounded-full transition-all duration-200 scale-95 active:scale-100" type="button">
                <span class="material-symbols-outlined">settings</span>
            </button>
        </div>
        <div class="h-8 w-px bg-outline-variant/20 mx-2"></div>
        <div class="flex items-center gap-3">
            <div class="text-right hidden sm:block">
                <p class="text-xs font-bold headline-font leading-none">Super Admin</p>
                <p class="text-[10px] text-on-surface-variant mt-0.5">Admin Profile</p>
            </div>
            <img alt="Super Admin Profile" class="h-9 w-9 rounded-full object-cover ring-2 ring-primary-fixed" src="https://lh3.googleusercontent.com/aida-public/AB6AXuDxXKffn1xbhPwPJfpzPbqI-xpd9AZeJVdSTQO0eUUZGJe4nBcoBce_dTJNQa3WOWl6C241GhMtUxBK_oe4YNUpI8b10pHyr-L9ewJXuLhDEAGlTMI1Qry3GZcy8verLfdIAkKG2zFQORqJnVHKEGPmJBWmkSrDLMGAXxsqJdbSdukriY7Tpt9ADWNtEdf3PsR_VZYMtNb5TzJrZKdbFWpy2ZYIn93hZ20TA2rTCwot9zUz3LjkkyjQkVYqS4jllg1EgCYkduod">
        </div>
    </div>
</div>
