.calendar-grid {
    display: grid;
    grid-template-columns: 80px repeat(7, minmax(0, 1fr));
}

.calendar-column-lines {
    margin-left: 80px;
    display: grid;
    grid-template-columns: repeat(7, minmax(0, 1fr));
}

.appointment-card {
    min-height: 48px;
}
